@model DarkEdenNetworkSite.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}

<link rel="stylesheet" href="~/Styles/LoginStyle.css" type="text/css" />

<div class="row">
    <h4>Welcome Back, Login</h4>
    <hr />
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="theBoxes">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="theBoxes">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="RememberMe">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>

                <div class="theBoxes">
                    <input type="submit" value="Log in" class="submitButton" />
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register", new { @class = "RegisterLink" })
                </p>
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}