@model DarkEdenNetworkSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}

<link rel="stylesheet" href="~/Styles/LoginStyle.css" type="text/css" />

<div class="row">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    //PlayerID  (This is login name for the game client)
    //Password
    //PIN (named as "Password" in SecondPassword table for DARKEDEN.db)
    //Email
    //Name
    //Gender (named as "Sex" in Player table for DARKEDEN.db)
    //Age (if above 18 set "teenager" in Player table for DARKEDEN.db to "0", else "1")
    //Zipcode
    <hr/>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="theBoxes">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="theBoxes">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="theBoxes">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>  
        <div class="theBoxes">
            <input type="submit" class="submitButton" value="Register" />
        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
